<!-- Se extiende del html base-->
{% extends "base.html" %}

<!-- Carga de archivos estáticos -->
{% load static %}
<!-- Carga de archivo CSS específico para esta página -->
<link rel="stylesheet" href="{% static 'css/muro_denuncias.css' %}">

<!-- Título de la página -->
{% block titulo %}Muro de Denuncias - UAZ{% endblock titulo %}

<!-- Contenido de la página -->
{% block contenido %}

<!-- Barra de navegación -->
{% include "nav_bar.html" %}
        
<div class="row g-3 mb-4 mt-4">
    <!-- Total -->
    <div class="col-6 col-md">
        <div class="card border-0 shadow-sm p-3 h-100">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <p class="text-muted mb-1">Total</p>
                    <h5 class="fw-bold mb-0">{{ total }}</h5>
                </div>
                <i class="bi bi-file-earmark-text fs-2 text-secondary"></i>
            </div>
        </div>
    </div>

    <!-- Pendientes -->
    <div class="col-6 col-md">
        <div class="card border-0 shadow-sm p-3 h-100">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <p class="text-muted mb-1">Pendientes</p>
                    <h5 class="fw-bold mb-0 text-warning">{{ cant_pendientes }}</h5>
                </div>
                <i class="bi bi-exclamation-triangle fs-2 text-warning"></i>
            </div>
        </div>
    </div>

    <!-- En revisión -->
    <div class="col-6 col-md">
        <div class="card border-0 shadow-sm p-3 h-100">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <p class="text-muted mb-1">En Revisión</p>
                    <h5 class="fw-bold mb-0 text-warning">{{ cant_revision  }}</h5>
                </div>
                <i class="bi bi-clock-history fs-2 text-warning"></i>
            </div>
        </div>
    </div>

    <!-- Resueltas -->
    <div class="col-6 col-md">
        <div class="card border-0 shadow-sm p-3 h-100">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <p class="text-muted mb-1">Resueltas</p>
                    <h5 class="fw-bold mb-0 text-primary">{{ cant_resueltas }}</h5>
                </div>
                <i class="bi bi-check-circle fs-2 text-primary"></i>
            </div>
        </div>
    </div>
</div>


<!-- Fila principal -->
<div class="row mx-0">
    <!-- Sidebar -->
    <div class="col-12 col-md-3 col-xl-3 bg-white border rounded-3 shadow-sm">
        <form id="denunciaFiltros" method="post">
        {% csrf_token %}
        <div class="px-3 pt-3 pb-4">
            <h6 class="text-primary mb-3">
                <i class="bi bi-funnel me-2"></i>Filtros de Búsqueda
            </h6>

            <div class="mb-3">
                <label class="form-label fw-semibold" for="tipo_denuncia">Tipo de denuncia</label>
                <select id="tipo_denuncia" name="tipo_denuncia" class="form-select">
                    <option value="">Seleccione un tipo</option>
                    {% for tipo in tipo_denuncia %}
                    <option value="{{ tipo.id_tipo_denuncia }}"
                        {% if filtros.tipo_denuncia == tipo.id_tipo_denuncia|stringformat:"s" %} selected {% endif %}>
                        {{ tipo.descripcion|lower|capfirst }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold" for="estado">Estado</label>
                <select id="estado" name="estado" class="form-select">
                    <option value="">Selecciona el estado</option>
                    
                    {% for estado in estado_denuncia %}
                        {% if estado.estado != 'CANCELADA' %}
                        <option value="{{ estado.id_estado }}"
                                {% if filtros.estado == estado.id_estado|stringformat:"s" %} selected {% endif %}>
                            {% if estado.estado == 'PENDIENTE' %}
                                Pendientes
                            {% elif estado.estado == 'EN_PROCESO' %}
                                En revisión
                            {% elif estado.estado == 'RESUELTA' %}
                                Resueltas                    
                            {% endif %}
                        </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

           

            <div class="mb-3">
                <label class="form-label fw-semibold d-block mb-2">Rango de fechas</label>

                <label class="form-label text-muted d-block">Desde</label>
                <input type="date" class="form-control mb-2" id="fechai" name="fechai" value="{{ filtros.fechai }}">


                <label class="form-label text-muted d-block">Hasta</label>
                <input type="date" class="form-control mb-2" id="fechaf" name="fechaf" value="{{ filtros.fechaf }}">

                <div class="d-flex gap-2 mt-2">
                    <button type="submit" class="btn btn-primary">Aplicar filtros</button>
                    <button type="button" onclick="limpiarFiltro()" class="btn btn-secondary">Limpiar filtros</button>
                </div>

            </div>

            <hr class="my-2">
            <div class="mb-3">
                <label class="form-label fw-semibold d-block mb-2">Leyenda de estados</label>

                <div class="d-flex flex-column gap-2">

                    <!-- Pendiente -->
                    <div class="d-flex align-items-center gap-2">
                        <span class="rounded-circle d-inline-block" 
                            style="width: 12px; height: 12px; background-color: #ffc107;"></span>
                        <span class="text-muted">Pendiente</span>
                    </div>

                    <!-- En Revisión -->
                    <div class="d-flex align-items-center gap-2">
                        <span class="rounded-circle d-inline-block" 
                            style="width: 12px; height: 12px; background-color: #ffc107;"></span>
                        <span class="text-muted">En revisión</span>
                    </div>

                    <!-- Resuelta -->
                    <div class="d-flex align-items-center gap-2">
                        <span class="rounded-circle d-inline-block" 
                            style="width: 12px; height: 12px; background-color: #0d6efd;"></span>
                        <span class="text-muted">Resuelta</span>
                    </div>

                </div>
            </div>
        </div>
        </form>
    </div>

    <!-- Contenido principal -->
    <div class="col-12 col-md-9 col-xl-9">
        <div class="card border-0 shadow-sm mt-3 mt-md-0">
            <div class="card-header bg-white fw-semibold">
                <i class="bi bi-exclamation-triangle me-2 text-primary"></i>
                Denuncias recientes
            </div>

            <div class="card-body" id="lista-denuncias"style="max-height: 420px; overflow-y: auto;">
                {% for denuncia in denuncias_paginadas %}
                <a href="{% url 'detalle_denuncia' denuncia.id_denuncia %}" 
                   class="text-decoration-none text-dark">
                    
                </a>
                {% empty %}
                <p class="text-muted">No hay denuncias registradas.</p>
                {% endfor %}
            </div>
            <div class="card-body" id="lista-denuncias" style="max-height: 420px; overflow-y: auto;">
                {% for denuncia in denuncias_paginadas %}
                <a href="{% url 'detalle_denuncia' denuncia.id_denuncia %}" class="text-decoration-none text-dark">
                    <div class="mb-3 p-3 border rounded bg-white hover-shadow-sm denuncia-card">

                        <!-- Título con badge a la derecha -->
                        <div class="d-flex justify-content-between align-items-start">
                            <h6 class="fw-semibold mb-0">
                                {{ denuncia.título }}
                            </h6>

                            <!-- Badge según estado -->
                             <span class="badge 
                                {% if denuncia.id_tipo_denuncia.descripcion == 'INFRAESTRUCTURA' %}
                                    bg-warning text-dark
                                {% elif denuncia.id_tipo_denuncia.descripcion == 'MOBILIARIO' %}
                                    bg-info text-dark
                                {% elif denuncia.id_tipo_denuncia.descripcion == 'SERVICIOS' %}
                                    bg-info text-dark    
                                {% else %}
                                    bg-secondary
                                {% endif %}
                                ms-2">
                                {{ denuncia.id_tipo_denuncia.descripcion }}
                            </span>
                        </div>

                        <!-- Descripción -->
                        <p class="mt-2 mb-2 text-muted">
                            {{ denuncia.descripcion|truncatechars:120 }}
                        </p>

                        <!-- Línea divisoria -->
                        <hr class="my-2">

                        <!-- Información inferior -->
                        <small  class="text-muted d-flex justify-content-between align-items-center">
                             <!-- IZQUIERDA -->
                            <span>
                                📍 {{ denuncia.id_lugar.id_programa.id_edificio.nombre }} - {{denuncia.id_lugar.id_programa.nombre_programa}} – {{ denuncia.id_lugar.nombre_lugar }}
                            </span>

                            <!-- DERECHA -->
                            <span>
                                {% if denuncia.id_estado.estado == 'PENDIENTE' %}
                                    <span class="text-warning"><i class="bi bi-exclamation-triangle"></i> Pendiente</span>
                                {% elif denuncia.id_estado.estado == 'EN_PROCESO' %}
                                    <span class="text-warning"><i class="bi bi-clock-history"></i> En revisión</span>
                                {% elif denuncia.id_estado.estado == 'RESUELTA' %}
                                    <span class="text-primary"><i class="bi bi-check-circle"></i> Resuelta</span>
                                {% else %}
                                    <span class="text-muted">{{ denuncia.id_estado.estado }}</span>
                                {% endif %}
                                
                                | 📅 {{ denuncia.fecha|date:"d/m/Y" }}
                            </span>
                        </small>

                    </div>
                </a>
                {% endfor %}
            </div>

            <!-- Paginación -->
            <div class="card-footer bg-white">
                <nav aria-label="Paginación">
                    <ul class="pagination justify-content-center mb-0">
                        {% if denuncias_paginadas.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ denuncias_paginadas.previous_page_number }}">Anterior</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link">Anterior</a></li>
                        {% endif %}

                        {% for num in denuncias_paginadas.paginator.page_range %}
                            {% if denuncias_paginadas.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if denuncias_paginadas.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ denuncias_paginadas.next_page_number }}">Siguiente</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link">Siguiente</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block scripts %}
    <script>
        function limpiarFiltro(){
             // Vacía los campos del filtro
            document.getElementById('tipo_denuncia').value = "";  
            document.getElementById('estado').value = "";
            document.getElementById('fechai').value = "";
            document.getElementById('fechaf').value = "";

            // Recargar la página sin parámetros (la URL base sin query string)
            window.location.href = window.location.pathname;
        }
    </script>
{% endblock scripts %}