DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
SECRET=secret_key
DEBUG=True
SMTP_PASSWORD=contraseña
SMTP_EMAIL=correo@mail.com
EMAIL_ACTIVATION_DOMAIN=127.0.0.1:8000
DISABLE_UAZ_EMAILS=False
ADMIN_DEFAULT_PASSWORD=contraseña