{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Prueba
{% endblock titulo %}
    


{% block contenido %}
    {% include 'nav_bar.html' %}
    {% include 'modales/modal_editar_admin.html' %}
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateAdminModal">
        Editar administrador
    </button> -->
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Programa academico</th>
                <th>Correo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            {% for admin in admins %}
                <tr>
                    <td>{{ admin.usuario.nombre }}</td>
                    <td>{{ admin.programa_academico.nombre_programa }}</td>
                    <td>{{ admin.usuario.correo }}</td>
                    <td>
                        <button onclick="loadAdminData('{{ admin.id_administrador }}')">Editar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}


{% block scripts %}
    <script>
        var updateInfoUrl = "{% url 'actualizar_info_admin' %}";
        var getAdminUrl = "{% url 'detalle_admin' id_admin=0 %}";
    </script>
    <script
        src="{% static 'js/editarAdmin.js' %}"
    ></script>
{% endblock scripts %}
    