<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activar cuenta para InraUAZ</title>
</head>
<body>
    <h1>Activación de cuenta para InfraUAZ</h1>
    <p>¡Hola <strong>{{ nombre }}</strong>!</p>
    <p>Te envíamos este correo para que actives tu cuenta de denunciante en InfraUAZ por medio de este <a href="{{ url_activacion }}">link</a></p>
    <p>Si no funciona, aquí tienes el URL completo: <a href="{{ url_activacion }}">{{ url_activacion }}</a></p>

    <p>Si no creaste una cuenta en nuestro sitio, ignora este correo.</p>
</body>
</html>